* {
	margin: 0;
    padding: 0;
}

body {
    font-family: futura-pt, sans-serif;
}

header img {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: none;
}

main {
    background-image: url(background.jpg);
    border-style: solid none none none;
    border-width: 1em;
    border-color: #d9bcaa;
}

main p {
    margin: 2em;
    background-color: white;
    padding: 1em;
}

main h2 {
    font-size: 5em;
    margin-left: 0.25em;
    margin-top: 0.5em;
}